.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
} 

#plot_pi {
			height: 400px;
			width: 400px;
			border: 0px solid black;
}
