.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
} 

#plot_pi {
			height: 400px;
			width: 400px;
			border: 0px solid black;
}
.buttons_Arrow{
	font-size: 300%;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    
}
.div_ps{
	display:none;

}
.div_ps div{
	display:inline-block;
	position:relative;
}

